<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="admin_system_config_changed_section_payment">
        <observer name="mbissonho_bancointer_define_debug_config_observer"
                  instance="Mbissonho\BancoInter\Observer\Adminhtml\DefineDebugConfigObserver"/>
    </event>



</config>
